@page
@model SchoolRoll.Views.Teacher.CETModel
@{
    Layout = "_TeaLayout";
}
<section class="panel">
    <header class="panel-heading">
        四六级信息录入
    </header>
    <div class="panel-body">
        <div class="form-horizontal " action="#">
            <form action="@Url.Action("Insertcet","Teacher")" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-4">学号</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">
                            <input type="text" name="Sno" value="" placeholder="请输入学号" />
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">类别</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">
                            <input type="text" list="url_list" name="Etype" placeholder="请选择" />
                            <datalist id="url_list">
                                <option label="CET4" value="CET4" />
                                <option label="CET6" value="CET6" />
                            </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">成绩</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">
                            <input type="text" name="Egade" value="" placeholder="请输入分数" />
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" style="display:block;margin:0 auto">提交</button>
                </div>
            </form>
        </div>
    </div>
</section>

